header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--light);
    display: flex;
    gap: 10px;
    z-index: 200;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 0px 3px 0px;
}
.logo{
    all: unset;
    width: 250px;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 4px 3px 0px;
}
.logo > img{
    height: 70px;
}
.section-title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: auto;
}
.section-title h2{
    font-family: Poppins-medium;
    font-size: 18px;
    color: var(--dark);
}
.section-title span{
    color: var(--gray);
}
.logout-btn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    padding-right: 50px;
}

nav{
    position: fixed;
    z-index: 201;
    top: 80px;
    width: 250px;
    height: calc(100vh - 80px);
    padding: 50px 20px 0px 20px;
    background: var(--light);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 12px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 4px 3px 0px;
}
nav ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}
nav ul li{
    position: relative;
    list-style: none;
    z-index: 2;
    transition: all .3s ease-in-out;
}
nav ul li button{
    all: unset;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
nav ul li button:visited{
    all: unset;
}
nav ul li button .awesome-icon{
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    transition: all .3s ease-in-out;
}

nav ul li button .text{
    color: var(--gray);
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.indicator{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--light-secondary);
    box-shadow: 0px 10px 20px -10px rgba(100, 100, 111, 0.3);
    transition: all .3s ease-in-out;
}
.indicator::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 25px;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: -8px;
    background: var(--dark);
    box-shadow: 0px 0px 0px 3px var(--light);
}

nav ul li.active button .awesome-icon{
    color: var(--dark);
}
nav ul li.active button .text{
    color: var(--dark);
    font-family: Poppins-medium;
}

nav ul li:nth-child(1).active ~ .indicator{
    transform: translateY(calc(60px * 0));
}
nav ul li:nth-child(2).active ~ .indicator{
    transform: translateY(calc(60px * 1));
}
nav ul li:nth-child(3).active ~ .indicator{
    transform: translateY(calc(60px * 2 ));
}
nav ul li:nth-child(4).active ~ .indicator{
    transform: translateY(calc(60px * 3));
}
nav ul li:nth-child(5).active ~ .indicator{
    transform: translateY(calc(60px * 4));
}

main{
    position: relative;
    top: 80px;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    padding: 20px 20px 0px 20px;
    transition: all .3s ease-in-out;
}

.side-panel{
    position: fixed;
    max-width: 300px;
    width: 300px;
    height: calc(100vh - 80px);
    background: var(--light);
    top: 80px;
    right: -100%;
    z-index: 201;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 12px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 4px 3px 0px;
    transition: all .3s ease-in-out;
}
.side-panel-active{
    right: 0px;
}
.side-panel-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.side-panel-head h2{
    font-size: 18px;
    font-family: Jost-medium;
}
.side-panel-head i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color); 
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.side-panel-head i:hover{
    background-color: var(--dark);
    color: var(--light);
}
.side-panel-body{
    max-height: calc(100% - 50px);
    overflow-y: auto;
    width: 100%;
    padding: 10px 20px;
}
.side-panel-body form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-panel-body form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.side-panel-body form div label{
    font-family: Jost-medium;
    padding-left: 5px;
}
.side-panel-body form div input,
.side-panel-body form div select{
    outline: none;
    background-color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.1);
}
.side-panel-body form button{
    padding: 10px 20px;
    background: var(--secondary);
    border-radius: 5px;
    font-family: Jost-medium;
    color: var(--light);
    margin: 10px 0px;
    transition: all .3s ease-in-out;
}
.side-panel-body form button:hover{
    background-color: var(--dark);
}
.messages{
    width: calc(100% -250px);
    z-index: 201;
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: -80px;
}
.messages div{
    background-color: var(--light);
    color: var(--light);
    padding: 10px 20px 15px 20px;
    position: relative;
}
.messages div.error{
    background-color: var(--red);
}
.messages div.success{
    background-color: var(--green);
}
.messages div::before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--bg-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.messages div::after{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation: slide 3s forwards ;
}
@keyframes slide {
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@media only screen and (max-width: 810px){
    .logo{
        width: 200px;
    }
    .section-title{
        margin-left: 10px;
    }
    nav{
        width: 200px;
    }
    nav ul li button{
        padding-left: 10px;
        gap: 10px;
    }
    nav ul li button .awesome-icon{
        width: 20px;
        height: 20px;
    }
    main{
        left: 200px;
        width: calc(100% - 200px);
    }
    .side-panel{
        top: 70px;
        height: calc(100vh - 70px);
    }
    .messages{
        margin-left: 200px;
    }
}


@media only screen and (max-width: 630px){
    header{
        padding: 0px 20px;
        height: 70px;
        gap: 10px;
        justify-content: space-between;
    }
    .logo{
        width: auto;
        box-shadow: none;
    }
    .logo > img{
        height: 50px;
    }
    .section-title{
        display: none;
        margin: 0;
    }
    .logout-btn{
        padding: 0;
        padding-right: 20px;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    nav{
        width: fit-content;
        align-self: center;
        height: 60px;
        top: auto;
        bottom: 20px;
        padding: 0 30px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 10px 0px,
                    rgba(100, 100, 111, 0.1) 0px 0px 3px 0px;
    }
    nav ul{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
    }
    nav ul li{
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li button{
        flex-direction: column;
        width: 70px;
        height: auto;
        gap: 0px;
        padding: 0;
    }
    nav ul li button .awesome-icon{
        transform: translateY(10px);
        width: 25px;
        height: 25px;
    }
    nav ul li button .text{
        font-family: Jost;
        flex-wrap: nowrap;
        width: max-content;
        transform: translateY(20px);
        opacity: 0;
    }
    nav ul li.active button .awesome-icon{
        transform: translateY(-25px);
        color: var(--light);
    }
    nav ul li:nth-child(3) button .icon path:nth-child(2){transition: all .3s ease-in-out;}
    nav ul li:nth-child(3).active button .icon path:nth-child(2){
        stroke: var(--secondary);
    }
    nav ul li.active button .text{
        font-family: Jost;
        font-size: 12px;
        opacity: 1;
        color: var(--secondary);
        transform: translateY(-10px);
    }
    .indicator {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: -35px;
        left: 0px;
        background: var(--light);
        box-shadow: rgba(100, 100, 111, 0.1) 0px -3px 3px 0px;
    }
    .circle{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--secondary);
        margin: 0px auto;
        z-index: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 10px 0px,
                    rgba(100, 100, 111, 0.1) 0px 3px 3px 0px;
    }
    .indicator::before{
        width: 40px;
        height: 40px;
        top: 1px;
        left: -37px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 18px 19px var(--light);
    }
    .indicator::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top: 1px;
        right: -37px;
        background: transparent;
        border-radius: 50%;
        box-shadow: -18px 19px var(--light);
    }
    
    nav ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(70px * 0));
    }
    nav ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(70px * 1));
    }
    nav ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(70px * 2 ));
    }
    nav ul li:nth-child(4).active ~ .indicator{
        transform: translateX(calc(70px * 3));
    }
    nav ul li:nth-child(5).active ~ .indicator{
        transform: translateX(calc(70px * 4));
    }
    main{
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
    }
    .messages{
        width: 100%;
        margin-top: 70px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 370px){
    nav{
        min-width: 100%;
        border-radius: 0px;
        bottom: 0px;
    }
}